bin/
obj/

*.user
*.rsuser
*.suo
*.pdb

.vscode/
.idea/
.vs/

*.log
logs/

*.tmp
*.temp
*.cache
*.config
*.log
*.vspscc

*.dll
*.exe
*.manifest
*.nupkg
*.msi
*.db

*.dbmdl
*.jfm	

.idea/

.vscode/

.DS_Store
*.user
*.rsuser
*.suo
*.userprefs
*.sqlproj.user
*.sln.docstates

/ .vs/

tye.yaml

.idea/

*.nupkg
*.snupkg

coverage/

Migrations/